* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: #eee;
}

#container {
  max-width: 400px;
  margin: auto;
  padding: 30px;
}

.formWrap {
  background-color: white;
  padding: 16px 16px;
}

.formWrap h1 {
  text-align: center;
}

.formWrap .form-group {
  padding: 6px 0;
}

.formWrap .form-group label {
  display: block;
  color: #777;
  padding-bottom: 4px;
}
.formWrap .form-group input {
  width: 100%;
  padding: 6px;
  outline: none;
  border-radius: 3px;
  border: none;
  border: solid 1px #ccc;
}

.formWrap button {
  margin-top: 6px;
  display: block;
  width: 100%;
  background-color: #f2711c;
  padding: 10px 0;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.authFooter {
  display: inline-block;
  margin-top: 10px;
  text-align: center;
}

.authFooterLink {
  cursor: pointer;
}
