.newsContent {
  border: 1px solid lightgrey;
  border-top: none;
  padding: 1rem;
  border-bottom-left-radius: 0.8rem;
  border-bottom-right-radius: 0.8rem;
}
.newsTitle {
  background: #3399f0;
  border-top-left-radius: 0.8rem;
  border-top-right-radius: 0.8rem;
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 14px;
  color: white;
}

.levelBarDiv {
  display: inline-block;
  padding-right: 14px;
  font-size: 1.2rem;
}
