.newsContent {
  border: 1px solid lightgrey;
  border-top: none;
  padding: 1rem;
  border-bottom-left-radius: 0.8rem;
  border-bottom-right-radius: 0.8rem;
}
.newsTitle {
  background: #3399f0;
  border-top-left-radius: 0.8rem;
  border-top-right-radius: 0.8rem;
  height: 40px;
  width: 100%;
  display: flex;
  padding-left: 14px;
  padding-right: 14px;
  color: white;
}

.newsTitle2 {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: flex-start;
  margin: 0;
}

.levelBarSpan {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: flex-end;
  margin: 0;
}
